body {
  font: 14pt tahoma, sans-serif;
  background-color: white;
  color: black;
  text-align: center;
}
a { background-color: transparent; }
a:link, a:visited { text-decoration: none; }
a:active, a:hover { text-decoration: underline; }
a:link    { color: #a07070; }
a:visited { color: #982323; }
a:active  { color: #fe2323; }
header { width: 100%; }
header h1 { margin: 0; padding: 0; }
header form:before { content: "Select category to view: "; }
header p { margin: 0 2em; }
nav {
  margin-top: 10px;
  margin-left: 4px;
}
nav select, nav input[type="submit"] {
  font-family: tahoma, sans-serif;
  font-size: 1em;
}
nav input[type="submit"] { margin-left: 10px; }
header, #content, #listing, #listing li, footer p { display: inline-block; }
#content { max-width: 1260px; }
#content img { border-style: none; }
#listing {
  padding: 0;
  margin-top: 0.5em;
  width: 100%;
  list-style: none;
  list-style-image: none;
}
#listing li h1 { font-size: 1.3em; white-space: nowrap; }
#listing li h2 {
  font-family: "palatino linotype", georgia, serif;
  font-size: 1.1em;
  margin: 0;
  background-color: #d0cab6;
  color: #600;
  padding: 4px;
}
#listing li {
  text-align: left;
  width: 385px;
  margin: 4px 2px 0;
  border: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
}
#listing li .types { font-size: 0.8em; }
#listing li .info, #listing li .types {
  margin: 0;
  padding: 4px;
}
#legend abbr, #listing li .extrainfo { font-family: helvetica, sans-serif; }
#legend abbr:after { content: ": "; }
#listing li address {
  margin: 2px 0;
  font-style: normal;
  font-size: 0.9em;
  color: #336;
}
#listing li .links:before { content: "Links: "; }
#listing li .links, #listing li .cats {
  font-size: 0.8em;
  margin-left: 0.5em;
}
#listing li .extrainfo {
  text-align: right;
  float: right;
  font-size: 0.8em;
  width: 90px;
  padding: 0;
  margin-top: -60px;
}
.do abbr { color: #383; }
.po abbr { color: #663; }
.o abbr { color: #006; }
footer {
  width: 100%;
  font: 0.8em arial, sans-serif;
}
footer p { width: 290px; text-align: justify; }
#legend {
  padding-top: 5px;
  border-top: 1px solid #999;
  clear: both;
}
#legend .entry {
  text-align: center;
  margin: 4px;
  float: left;
  width: 30%;
  clear: right;
}

@media (max-width: 1400px) {
  #listing li { width: 380px; }
}
@media (max-width: 850px) {
  body { font-size: 12pt; }
  #listing li { width: 340px; }
}
@media (max-width: 400px) {
  body { font-size: 10pt; }
  #listing li { width: 300px; }
}
