{
 :american "American"
 :bakery "Bakery"
 :barbeque "Barbeque"
 :breakfast "Breakfast"
 :brewery "Brewery"
 :british "British"
 :brunch "Brunch"
 :buffet "Buffet"
 :cajun "Cajun"
 :cambodian "Cambodian"
 :caribbean "Caribbean"
 :chinese "Chinese"
 :coffee "Coffee"
 :cuban "Cuban"
 :deli "Deli"
 :diner "Diner"
 :egyptian "Egyptian"
 :ethiopian "Ethiopian"
 :farms "Farms"
 :filipino "Filipino"
 :food-truck "Food Truck"
 :french "French"
 :fusion "Fusion"
 :german "German"
 :greek "Greek"
 :grocer "Grocer"
 :ice-cream "Ice Cream"
 :indian "Indian"
 :iranian "Iranian"
 :irish "Irish"
 :italian "Italian"
 :japanese "Japanese"
 :korean "Korean"
 :latin "Latin American"
 :mexican "Mexican"
 :mediterranean "Mediterranean"
 :middle-eastern "Middle Eastern"
 :moroccan "Moroccan"
 :nepalese "Nepalese"
 :pan-asian "Pan Asian"
 :pizza "Pizza"
 :poke-bowl "Poke Bowl"
 :polish "Polish"
 :sandwiches "Sandwiches"
 :seafood "Seafood"
 :singaporean "Singaporean"
 :smoothies "Smoothies"
 :sports-bar "Sports Bar"
 :steakhouse "Steakhouse"
 :subs "Subs"
 :sushi "Sushi"
 :tapas "Tapas"
 :teppanyaki "Teppanyaki"
 :tibetan "Tibetan"
 :thai "Thai"
 :vegan "Vegan"
 :vegetarian "Vegetarian"
 :vietnamese "Vietnamese"
 :wine-and-cheese "Wine and Cheese"
}
